 <div id="#detail"class="detail">
        <div class="one">
            <h3>PURITY</h3>
            <!-- <h6>Your membership is up to 2 months Free <br> (1000rs/month)</h6> -->
            <p>
                The PURITY of the "House Price Prediction ML Model"  <br> project encompasses its Precision, Understanding, Robustness <br> Interpretability, Transparency, and Yield. Precision reflects the model's accuracy in predicting house <br> Out on your bike, looking ahead,<br> and in the zone – nothing else matters.
                <br> prices, while Understanding showcases its comprehension of real estate dynamics and <br>  machine learning methodologies. Robustness signifies the model's ability to perform<br> consistently across diverse datasets and conditions.

            </p>
             <!-- <a href="#"> Join Us</a>  -->

        </div>
        <div class="two">
            <h3>PERFORMANCE</h3>
            <br>
<!-- <img src="https://www.ktm.com/ktmgroup-storage/PHO_BIKE_FACT_390-duke-21-td_%23SALL_%23AEPI_%23V1.jpg" width="100" height="100" alt=""> -->
            <p>The PERFORMANCE of the "House Price Prediction ML Model" project <br> can be evaluated based on various metrics  <br>such as accuracy, precision, recall, F1 score, mean absolute error (MAE), mean <br> squared error (MSE), root mean squared error (RMSE), and R-squared (R2) score.
                <br> Accuracy measures the overall correctness of the model's predictions,
                <br>
                while precision assesses the proportion of true positive predictions <br> among all positive predictions made by the model.
                <br> among all positive predictions made by the model.  <br> predictions among all actual positive instances in the dataset
                </p>
            <br>


        </div>
    </div>