<div class="bg">

        <div class="overlay">

        </div>

        <div class="mid">
           <h2>House Price Predication</h2>
           <br>

            <h3>New way to Style Our Lifestyle!!</h3>
            <br> <br>


            <div class="mm">
                <button class="b">Ready to Estimate>></button>

              </div>
              <div class="btn-text">

              <a class="simple-text" href="#">Get READY</a>
              </div>


            </div>
        </div>
    </div>