<!--Header section-->
{% include "House_Price_Model/header.html"%}
<!--Header section end-->

 <body>

<!--home page walpepar-->
  {% include "House_Price_Model/homeWallpepar.html"%}
<!--homepage walpepar end -->

<!-- Detials section-->
  {% include "House_Price_Model/detail.html"%}
<!-- detail section end-->

<!-- Image Slide Section-->
   {% include "House_Price_Model/house_slide_detail.html"%}
<!-- slide section end-->

  </body>

<!--Footer section-->
{% include "House_Price_Model/footer.html"%}
<!--Footer section end-->
